<div class="main">
  <!--
  <Header />
  <FiltersPanel :filters="filters" :setFilters="setFilters" />
  <MainPanel :sorting="sorting" :tickets="sortedTickets" :isLoading="isLoading" v-on:changeSorting="changeSorting" />
  -->
  <app-header> </app-header>
  <filters-panel
    [filters]="filters"
    (setFilters)="setFilters($event)"
  ></filters-panel>
  <main-panel
    [sorting]="sorting"
    [tickets]="sortedTickets"
    [isLoading]="state.isLoading"
    (changeSorting)="changeSorting($event)"
  ></main-panel>
</div>
